#header {
    .logo-container{
        & > span{
            display: block!important;
        }
    }
    .header-logo{
        object-fit: cover;
        border-radius: 10px;
    }
    .label-page {
        font-size: 14px;
    }

    

   

    .add-page-container {
        &:hover {
            .MuiInputBase-inputSelect {
                color: #078412;
            }

            .MuiSelect-icon {
                color: #078412;
            }
            .MuiInput-underline {
                &:before {
                    border-bottom: 1px solid #078412;
                }
        
                &:after {
                    border-bottom: 1px solid #078412;
                }
        
                &:hover:not(.Mui-disabled):before {
                    border-bottom: 1px solid #078412;
                }
            }
        }

    }
}

.custom-menu-item {
    justify-content: space-between !important;

    .rm-icon {

        background-color: rgb(213, 43, 43);
        color: white;
        border-radius: 20px;

        &:hover {
            background-color: #d90606;
        }
    }
}

.MuiListItem-gutters {
    padding-right: 8px !important;
}

.dialog-new-page {
    list-style: initial;
    padding-left: 15px;

    li {
        color: rgba(0, 0, 0, 0.54) !important;
        font-size: 14px !important;
    }
}

// .MuiPaper-root.MuiMenu-paper {
//     top: 32px !important;
// }