#projects-table-search-bar{
    input:focus{
        border-color: white;
        // padding-left: 8px;
        // box-shadow: none;
    }
    button.MuiButtonBase-root{
        padding: 16px 4px;
    }
    .MuiPaper-root{
        // box-shadow: rgba(0, 0, 0, 0.25) 2px 5px 15px;
        // box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.18) 0px 0px 0px 1px;
    }
}
#projects-table{
    .MuiTablePagination-select{
        option.MuiTablePagination-menuItem {
            text-align: center;
            padding: 4px;
        }
    }
}