#projects-table-search-bar{
    input:focus{
        border-color: white;
        // padding-left: 8px;
        // box-shadow: none;
    }
    button.MuiButtonBase-root{
        padding: 16px 4px;
    }
}