.toolbox {
    .expansion-title {
        color: $color-primary-light;
        font-size: 15px;
    }
    .MuiExpansionPanelDetails-root{
        padding: 0;
        .ps-menu-root {
            width: 100%;
        }
        margin-bottom: 12px;
    }
    .MuiExpansionPanelSummary-content.Mui-expanded{
        margin: 8px 0;
    }
    .MuiExpansionPanelSummary-root.Mui-expanded {
        min-height: 40px;
    }
}