.toolbar-dropdown{
    &_container{
        margin-top: 16px !important;
        // .MuiInput-underline {
        //     &:before {
        //         border-bottom: 1px solid $color-secondary;
        //     }
    
        //     &:after {
        //         border-bottom: 1px solid $color-secondary;
        //     }
    
        //     &:hover:not(.Mui-disabled):before {
        //         border-bottom: 1px solid $color-secondary;
        //     }
        // }
        // .MuiSelect-icon {
        //     color: $color-secondary;
        // }
        min-width: 180px;
        display: flex;
        flex-direction: row !important;
        align-items: center;
        .MuiPaper-root.MuiMenu-paper {
            top: 120px !important;
        }
    }
    &__select{
        min-width: 120px;
        color: #000000 !important;
        font-size: 14px!important;
    }
    
}
