.toolbox{
    &.collapsed{
        .expansion-title {
            font-size: 13px;
        }
        .MuiExpansionPanelSummary-content{
            & > .px-6{
                padding-left: 8px;
                padding-right: 8px;
            }
        }
        
    }
}