@use '_var.module.scss';

.MuiListItem-root.Mui-selected,
.MuiListItem-root.Mui-selected:hover {
  background-color: var.$color-primary-hover !important;
  color: $color-white;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var.$color-scrollbar;
  border-radius: 0px 0px 5px 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var.$color-scrollbar-hover;
}
html {
  scroll-behavior: smooth;
}
.viewport {
  .MuiFormControlLabel-label.Mui-disabled {
    color: var.$color-disable;
  }
  .PrivateTabIndicator-colorPrimary-4 {
    background-color: var.$color-primary;
  }
  .PrivateTabIndicator-colorSecondary-5 {
    background-color: var.$color-secondary;
  }
  .text-base {
    font-size: 0.9rem /* 16px */;
    line-height: 1.5rem /* 24px */;
  }
  .MuiInput-underline {
    &:before {
      border-bottom: 1px solid var.$color-primary;
    }

    &:after {
      border-bottom: 1px solid var.$color-secondary;
    }

    &:hover:not(.Mui-disabled):before {
      border-bottom: 1px solid var.$color-secondary;
    }
  }
  .MuiSelect-icon {
    color: var.$color-primary;
  }
  .MuiSelect-select:focus {
    background-color: transparent;
  }
}
.pl-20 {
  padding-left: 20px;
}
.global-select {
  cursor: pointer !important;
  & > .MuiSelect-select{
    padding: 8px !important;
    padding-right: 32px !important;
  }
  line-height: 20px !important;
  .MuiOutlinedInput-notchedOutline {
    border-color: var.$color-primary !important;
  }
  &:hover .MuiOutlinedInput-notchedOutline {
    border-color: var.$color-primary !important;
    border-width: 1px !important;
  }
  &.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: var.$color-primary !important;
    border-width: 1px !important;
  }
  & > .MuiInputBase-input {
    // padding: 0px !important;
    // padding-right: 14px !important;
    // height: 1.4375em !important;
    border-radius: 4px !important;
    border: 0 !important;
    box-sizing: border-box !important;
  }
}

* {
  color: var.$color-secondary -text;
  font-size: 14px;
}

.layer-name h2 {
  &:focus-visible{
    outline: 1px auto #0581ff;
  }
  padding-left: 4px;
}