// primary
$color-primary: #1652f5;
$color-primary-light: #4173fd;
$color-primary-hover: #063cd1;
$color-primary-text: #1652f5;
$color-primary-text-bold: #083fd6;

// secondary

$color-secondary: #57534e;
$color-secondary-text: #57534e;
$color-border-bottom: #d8d6de;

// background
$color-background: #f5f5f5;
$color-background-sidebar: #003e67;

// border
$color-border: #8e8e8e;

// orthers
$color-disable: #3a3a3a;
$color-scrollbar: #a3c7d6;
$color-scrollbar-hover: #32e0c4;

// color
$color-red-light: #f1929c;
$color-red: #ea3347;
$color-red-dark: #b62737;

$color-blue-light: #40c0f2;
$color-blue: #43b1ff;
$color-blue-dark: #4297ff;

$color-green-light: #4ade80;
$color-green: #22c55e;
$color-green-dark: #16a34a;

$color-gray-light: #eeeeee;
$color-gray: #bbbbbb;
$color-gray-dark: #878787;

$color-white: #ffffff;
$color-black: #000000;

$color-bg-submenu: #fcf9ff;
$color-yellow: #fff200;


:export {
  // primary
  primaryColor: $color-primary;
  primaryLightColor: $color-primary-light;
  primaryHoverColor: $color-primary-hover;
  primaryTextColor: $color-primary-text;
  primaryTextBoldColor: $color-primary-text-bold;

  // secondary
  secondaryColor: $color-secondary;
  secondaryTextColor: $color-secondary-text;

  // others
  disableColor: $color-disable;
  borderColor: $color-border;
  backgroundColor: $color-background;
  backgroundSidebarColor: $color-background-sidebar;
  borderBottomColor: $color-border-bottom;

  // color
  redLightColor: $color-red-light;
  redColor: $color-red;
  redDarkColor: $color-red-dark;

  blueLightColor: $color-blue-light;
  blueColor: $color-blue;
  blueDarkColor: $color-blue-dark;

  greenLightColor: $color-green-light;
  greenColor: $color-green;
  greenDarkColor: $color-green-dark;

  grayLightColor: $color-gray-light;
  grayColor: $color-gray;
  grayDarkColor: $color-gray-dark;

  whiteColor: $color-white;
  blackColor: $color-black;
  bgSubmenu: $color-bg-submenu;
  yellowColor: $color-yellow;

}
