$color-primary: #32e0c4;
$color-primary-light: #66fae1;
$color-primary-hover: #32e0c4;
$color-secondary: #364f6b;
$color-primary-text: #3fc1c9;
$color-primary-text-bold: #3fc1c9;
$color-secondary-text: #364f6b;
$color-background: #f5f5f5;

// -------
$color-border: #8e8e8e;
// -------
$color-red: #d52b2b;
$color-red-hover: #861f1f;

$color-blue: #0f6fff;
$color-blue-hover: #0f6fff;

$color-green: #079512;
$color-green-hover: #079512;

$color-black: #222222;
$color-black-hover: #000;

$color-white: #fff;

// -------
$color-disable: #000000;

$color-background-sidebar: #003e67;

$color-border-bottom: #d8d6de;
:export {
  primaryColor: $color-primary;
  primaryLightColor: $color-primary-light;
  primaryHoverColor: $color-primary-hover;
  secondaryColor: $color-secondary;
  primaryTextColor: $color-primary-text;
  primaryTextBoldColor: $color-primary-text-bold;
  secondaryTextColor: $color-secondary-text;
  redColor: $color-red;
  redHoverColor: $color-red-hover;
  blueColor: $color-blue;
  blueHoverColor: $color-blue-hover;
  greenColor: $color-green;
  greenHoverColor: $color-green-hover;
  blackColor: $color-black;
  blackHoverColor: $color-black-hover;
  whiteColor: $color-white;
  disableColor: $color-disable;
  borderColor: $color-border;
  backgroundColor: $color-background;
  backgroundSidebarColor: $color-background-sidebar;
  borderBottomColor: $color-border-bottom;
}
