#app-container {
  // app container in client
  [id^=ROOT]{
    min-width: 200px !important;
  }

  .custom {
    // margin
    &-mt-4 {
      margin-top: 16px !important;
    }
    &-mt-2 {
      margin-top: 8px !important;
    }
    &-mb-4 {
      margin-bottom: 16px !important;
    }
    &-mb-2 {
      margin-bottom: 8px !important;
    }
    &-ml-4 {
      margin-left: 16px !important;
    }
    &-ml-2 {
      margin-left: 8px !important;
    }
    &-mr-4 {
      margin-right: 16px !important;
    }
    &-mr-2 {
      margin-right: 8px !important;
    }
    &-pt-4 {
      margin-top: 16px !important;
    }
    &-pt-2 {
      margin-top: 8px !important;
    }
    &-pb-4 {
      margin-bottom: 16px !important;
    }
    &-pb-2 {
      margin-bottom: 8px !important;
    }
    &-pl-4 {
      margin-left: 16px !important;
    }
    &-pl-2 {
      margin-left: 8px !important;
    }
    &-pr-4 {
      margin-right: 16px !important;
    }
    &-pr-2 {
      margin-right: 8px !important;
    }

    .custom-fs-small{
      font-size: 12px !important;
    }

    .custom-fs-medium{
      font-size: 16px !important;
    }

    .custom-fs-large{
      font-size: 22px !important;
    }

    
  }
}
